body {
  margin: 0;
  padding: 0;
  font-size: 20px;
}
/*header block*/
.header {
  display: flex;
  padding: 10px;
}
.title {
  flex: none;
  width: 30%;
  display: flex;
  align-items: center;
}
.title_text {
  font-weight: bold;
}

.desktop_menu {
  flex: none;
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#mobile_menu {
  display: none;
}
.item {
  margin-left: 20px;
}

#menu_list {
  display: none;

  width: 50%;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  cursor: pointer;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
}
#delete_icon {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: 15px;
  height: 15px;
}
.mobile_item {
  text-align: center;
  /* border: 1px solid blue; */
  margin: 25px 0;
}

/*welcome block*/
.welcome {
  background-color: #d2e9ff;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome_text {
  font-size: 2em;
  font-weight: bold;
}

/*main block*/

/*promotion*/
.main {
  display: flex;
  justify-content: center;
}
.container {
  flex: none;
  width: 1200px;
  margin-top: 20px;
  padding: 10px;
}
.promotion {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin-bottom: 20px;
}
.pro {
  background-color: #d2e9ff;
  display: flex;
  align-items: center;
}
.pro_pic {
  width: 80px;
  height: 50px;
}
.pro_pic img {
  width: 100%;
  height: 100%;
  object-fit: conver;
  display: block;
}
.pro_text {
  margin-left: 10px;
}
.pro1 {
  grid-column-start: 1;
  grid-column-end: 7;
}
.pro2 {
  grid-column-start: 1;
  grid-column-end: 5;
}
.pro3 {
  grid-column-start: 5;
  grid-column-end: 7;
}

/*pic block*/
.pic_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  grid-auto-rows: 220px;
}
.pic {
  position: relative;
}
.star {
  position: absolute;
  width: 22px;
  top: 8px;
  right: 8px;
  opacity: 0.6;
}
.pic .dog {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.pic_title {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #ffffb9;
  opacity: 0.5;
  padding: 5px 0;
}
#pic1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
#pic6 {
  grid-column-start: 1;
  grid-column-end: 3;
}

/* RWD */
/*平板*/
@media (max-width: 1200px) {
  .container {
    width: 90%;
  }
  .pro1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .pro2 {
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .pro3 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .pic_box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  #pic1 {
    grid-column-end: 2;
  }
  #pic6 {
    grid-column-start: 2;
    grid-column-end: 3;
  }
  #pic9 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
  #pic10 {
    grid-column-start: 3;
    grid-column-end: 5;
  }
}
/*手機*/
@media (max-width: 600px) {
  body {
    font-size: 16px;
  }
  .header {
    padding: 5px 10px;
    justify-content: space-between;
  }
  .desktop_menu {
    display: none;
  }
  #mobile_menu {
    display: flex !important;
    justify-content: center;
    align-items: center;
  }

  .promotion {
    display: block;
  }
  .pro {
    margin-bottom: 20px;
  }
  .pic_box {
    display: block;
  }
  .pic {
    margin-bottom: 20px;
  }
}
